@import url('https://fonts.googleapis.com/css?family=Alatsi&display=swap');

.design{
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(background.jpg);
    background-repeat: repeat-y;
    background-position: center;
    background-size: cover;
    overflow-x: scroll;
}


#top-header{
    font-size: 40px;
    font-size: 4vw;
    font-family: Alatsi, sans-serif;
    text-align: center;
    background-color: rgba(66, 124, 209, 0.2);
    color: rgb(214, 214, 214);
}

#top-header p:hover {
    color: #999999;
}

#fa-users{
    margin-top: 10%;
    display: block;
    text-align: center;
    color: rgb(29, 96, 173);
}

li{
    padding: 20px;
    text-align: justify;
    font-size: 20px;
    font-size: large;
}

.entrty-list{
    text-align: center;
}

.white-background{
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  background-color:rgba(255, 255, 255, 0.7);
  width: 80%;
  min-height:90%;
  padding: 2%;
  border-radius: 20px;
}

.form-box {
    font-family: Alatsi, sans-serif;
    position: relative;
    width: 450px;
    height: 450px;
    margin-top: 10%;
    background: rgba(148, 147, 147, 0.75);
    border-radius: 20px;
    border: none;
    overflow: hidden;
}

#box-1{
  float: left;
}

#box-2{
  float: right;
}

@media screen and (max-width: 1185px) {
  #box-1 {
    width: 100%;
    margin-top: 0%;
  }
  #box-2 {
    width: 100%;
    margin-top: 2%;
  }
}

.button-box{
    text-align: center;
    padding: 10px;
    margin: 60px auto;
    width: auto;
}


.btn-success{
    transition: 0.35s ease-in-out;
    border-radius: 30px;
    margin-top: 60px;
    width: 130px;
}

.btn-success:hover{
    background: rgb(28, 128, 45);
}

#btnLogin{
  margin: auto;
}

#btnRegister{
  margin: auto;
}

.input-group{
    width: 100%;
    padding: 2px 5px;
    margin: 2px;
    outline: none;
    font-size: 18px;
    top: -10px;
}

#login{
    left: 0px;
}

#register{
    left: 1000px;
    top: -40%;
}
